 {{ form_start(formPlaylist) }}
    <div class="row">
        <div class="col">
            {{ form_row(formPlaylist.name) }}
        </div>
        {{ form_row(formPlaylist.description) }}
    </div>
    
    {{ form_end(formPlaylist) }}
